.icon-logo {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
  background-color: transparent;
  border: none;
}

.icon {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.icon:focus,
.icon:active {
  outline: none;
  border: none;
}

.icon img {
  display: block;
}